/* Header styles */

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #FFECC9;
  display: flex;
  max-width: 1420px;
	height: 100px;
	padding-left: calc(-1 * (100vw - 100%));
	margin: auto;
	z-index: 1;
}

.header a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo {
  margin: 8px 160px 0 0;
}

.navigation-header {
  display: flex;
  justify-content: space-between;
  font-size: 0;
  margin: 38px 180px 38px 0;
  font-style: normal;
  font-weight: 300;
  width: 680px;
  height: 23px;
  text-align: center;
}

.menu-item {
  font-size: 20px;
	padding: 0 6px;
	position: relative;
	cursor: pointer;
}

.current-menu-item::after {
	position: absolute;
	content: "";
	bottom: -8px;
	height: 2px;
	width: 90%;
	border-bottom: 2px solid #FF494D;
	animation: appear .1s normal ease-in;
}

.menu-item:first-of-type {
  padding: 0 12px
}

.call-button {
  margin-top: 20px;
  width: 219px;
  height: 60px;
  border: 2px solid #FF494D;
  border-radius: 58px;
  background: none;
}

.call-button:hover {
	background: #FF494D;
	cursor: pointer;
}

.call-button:hover .call-header {
	color: #FFFFFF;
}

.call-header {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: .3px;
}

@keyframes appear {
	0% {
		position: absolute;
		width: 0;
		transform: translateX(-50%);
	}

	100% {
		width: 80%;
		transform: translateX(0px);
	}
}