/* preview section */
.preview-section {
  position: relative;
  margin-bottom: 80px;
}

.preview-text-wrapper {
  padding-top: 119px;
}

.preview-title {
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  margin: 0 0 36px 0;
  letter-spacing: 0.03em;
}

.preview-description {
  font-size: 32px;
  line-height: 37px;
  margin: 0 0 42px 0;
  display: flex;
  align-items: center;
  letter-spacing: -0.023em;
}

.preview-ads {
  margin: 0 0 40px 0;
  padding-top: 9px;
  display: flex;
  font-size: 24px;
  line-height: 28px;
  width: 507px;
  word-wrap: break-word;
}

.preview-section .call-button {
  background: #FF494D;
}

.call-preview {
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 160px;
}

.call-preview span {
  color: #FFFFFF
}

.preview-image {
  position: absolute;
  right: 0;
  top: 137px;
}

.more-button-container {
  position: relative;
  margin: 0 auto;
  height: 53px;
  width: 105px;
}

.more-button-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.more-button-container::before {
  content: "";
  position: absolute;
  z-index: 1;
  background: url("./maximize.svg") no-repeat;
  background-position: bottom 25% center;
  width: 100%;
  height: 100%;
}

.side-image {
  position: absolute;
  left: 0;
  top: 716px;
}

.col-1 {
  display: flex;
}
