/* order section */
.order-section {
  positioN: relative;
  width: 820px;
  margin: 0 auto 348px auto;
}

.order-section-title {
  margin-bottom: 39px;
}

.order-section span {
  display: block;
  text-align: center;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 131px;
}

.call-back-form {
  width: 460px;
  display: flex;
  margin-left: 299px;
  flex-direction: column;
  font-size: 24px;
  line-height: 120%;
  color: #FF494D;
}

.call-back-form label {
  margin-bottom: 14px;
}

.input-button {
  border-radius: 30px;
  height: 60px;
  border: none;
  background: #FF494D;
  padding: 0 27px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF; 
}

.name-input, .number-input {
  opacity: .25;
}

.name-input:focus, .number-input:focus {
  opacity: 1;
}

.name-input {
  margin-bottom: 38px;
}

.number-input {
  margin-bottom: 60px;
}

.call-back-form input[type=submit] {
  width: 300px;
  height: 70px;
  border-radius: 58px;
  font-size: 20px;
  line-height: 23px;
  margin: 0;
}

.decorative-cake {
  position: absolute;
  top: 184px;
  right: 100%;
}

.decorative-donuts {
  position: absolute;
  bottom: -231px;
  left: 958px;
}