/* catalog section */
.catalog-section {
  width: 80%;
  margin-bottom: 116px;
}

.catalog-section-title {
  margin-bottom: 20px;
}

.catalog-categories-wrapper {
  width: 694px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 46px auto;
  font-size: 24px;
  line-height: 30px;
}

.category-item:not(.active) {
  opacity: .5
}

.sweet-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 69px;
}

.sweet-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 370px;
}

.sweet-item span {
  text-align: center;
  display: flex;
}

.sweet-item img{
  height: 191px;
  width: 240px;
  object-fit: contain;
  margin-bottom: 53px;
}

.sweet-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 17px;
  height: 24px;
}

.sweet-description {
  height: 104px;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 50px;
}

.sweet-cost {
  font-weight: 500;
  font-size: 36px;
  line-height: 30px;
  margin-bottom: 21px;
  height: 30px;
}

.sweet-button {
  background: #FF494D;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 23px;
}

.show-catalog {
  display: block;
  width: 300px;
  height: 70px;
  color: #FF494D;
  margin: 0 auto 0 auto;
  font-size: 20px;
  line-height: 23px;
}

